@model IEnumerable<Scholar.Models.courseTB>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Intro</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet"/>
  

</head>
<body>
    <p align="left">
        @Html.ActionLink("Not Registered yet? join", "Registration")
    </p>
    <p align="right">

        <button type="button" class="btn-block" style="width:225px">Sign In </button>
        <div class="modal fade" id="myModal" role="dialog" data-url="@Url.Action("Login", "Home")"></div>
        <script type="text/javascript">


            $(document).ready(function () {
                $('.btn-block').click(function () {
                    var url = $('#myModal').data('url');
                    $.get(url, function (data) {
                        $('#myModal').html(data);
                        $("#myModal").modal('show');
                    });
                });
            });
        </script>
    </p>




    <p>
        @Html.ActionLink("Create New", "Create")

    </p>

    @{ 
        foreach (var item in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">

                <img src="@Url.Content(item.courseImage)" alt="" />
                <div class="caption">
                    <h3 class="pull-right">@Html.DisplayFor(modelItem => item.courseStatus)</h3>
                    <h2>
                        <a>@Html.DisplayFor(modelItem => item.courseName)</a>
                    </h2>
                    <p>@Html.DisplayFor(modelItem => item.courseDetails)</p>
                    <p>@Html.ActionLink("Details", "CourseDetails", new { courseID = item.courseID })</p>
                </div>
            </div>
           

        </div>
        }
    }

</body>
</html>
