@model IEnumerable<Scholar.Models.courseTB>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Intro</title>
</head>
<body>
    <p align="right">
        @Html.ActionLink("Not Registered yet? join", "Registration") <br />
        @Html.ActionLink("Sign In", "Login")
    </p>

    <p>
        @Html.ActionLink("Create New", "Create")

    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.courseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courseDetails)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.courseImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courseStatus)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
              
                <td>
                    @Html.DisplayFor(modelItem => item.courseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.courseDetails)
                </td>
               
              
                <td>
                    <img src="@Url.Content(item.courseImage)" width="100" height="100" multiple />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.courseStatus)
                </td>
                
                <td>
                    @Html.ActionLink("Details", "CourseDetails", new { BookId = item.courseID })

                </td>
            </tr>
        }

    </table>
</body>
</html>
