@model IEnumerable<Scholar.Models.courseTB>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Intro</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<body>
    <p align="right">
        @Html.ActionLink("Not Registered yet? join", "Registration") <br />
        @Html.ActionLink("Sign In", "Login")
    </p>

        <button type="button" class="btn-block" style="width:225px">Modal </button>
        <div class="modal fade" id="myModal" role="dialog" data-url="@Url.Action("Login","Home")"></div>
        <script type="text/javascript">


            $(document).ready(function () {
                $('.btn-block').click(function () {
                    var url = $('#myModal').data('url');
                    $.get(url, function (data) {
                        $('#myModal').html(data);
                        $("#myModal").modal('show');
                    });
                });
            });
        </script>

    

    <p>
        @Html.ActionLink("Create New", "Create")

    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.courseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courseDetails)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.courseImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courseStatus)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
              
                <td>
                    @Html.DisplayFor(modelItem => item.courseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.courseDetails)
                </td>
               
              
                <td>
                    <img src="@Url.Content(item.courseImage)" width="100" height="100" multiple />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.courseStatus)
                </td>
                
                <td>
                    @Html.ActionLink("Details", "CourseDetails", new { courseID = item.courseID })

                </td>
            </tr>
        }

    </table>
</body>
</html>
